<!DOCTYPE html>
<html lang="en_US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta property="og:title" content="{{ site.title | escape }}" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="{{ site.description | escape }}" />
  <meta property="og:description" content="{{ site.description | escape }}" />
  <link rel="canonical" href="{{ site.url | escape }}{{ site.baseurl | escape }}/" />
  <meta property="og:url" content="{{ site.url | escape }}{{ site.baseurl | escape }}" />
  <meta property="og:site_name" content="React Styles Injector" />
  <link rel="stylesheet" href="/assets/main.css">
</head>

<body>

  {%- include sidebar.html -%}

  <main>
    {{ content }}
    {%- include footer.html -%}
  </main>

</body>

</html>